version: '3.8'

services:
  frontend:
    image: lepeshka/hse_test_rest_proj:web-latest
    build:
      context: .
      dockerfile: Dockerfile.web
    ports:
      - "5000:5000"
    environment:
      BACKEND_URL: http://backend:5001/api/process
      MAX_CONCURRENT_REQUESTS: 10
      RATE_LIMIT_WINDOW: 60
      MAX_REQUESTS_PER_IP: 20
      FRONTEND_PORT: 5000
    depends_on:
      - backend
    networks:
      - app-network
    restart: unless-stopped

  backend:
    image: lepeshka/hse_test_rest_proj:app-latest
    build:
      context: .
      dockerfile: Dockerfile.app
    ports:
      - "5001:5001"
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: 123456789
      DB_NAME: postgres
    depends_on:
      - db
    networks:
      - app-network
    restart: unless-stopped

  db:
    image: postgres:13-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456789
      POSTGRES_DB: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init_db.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - app-network
    restart: unless-stopped

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge